@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  background-color: #0e1219;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: #1d232a;
  border-radius: 7px;
  border: none;
  padding: 1rem;
  color: #fff;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
}

.user-form input::placeholder {
  color: #fffff6;
  font-weight: 500;
}

.user-form input:hover {
  box-shadow: 0 5px 5px rgba(154, 160, 185, 0.05);
  background-color: #1d212a;
}

.user-form input:focus {
  outline: none;
}

.card {
  max-width: 800px;
  background-color: #1d232a;
  border-radius: 15px;
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
}

.avatar {
  border-radius: 50%;
  border: 5px solid #9facc1;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 1rem;
}

.user-info ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.3rem;
  margin-right: 1.3rem;
}

.repo {
  text-decoration: none;
  background-color: #a7bfce;
  color: #0e1219;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 400px;
  }
}
